:root {
  --white: #FFF;
  --black: #000;
  --blue-button: #006eff;
  --font-color-base: #666;
  --font-color-dark: #212529;
  --font-color-light: #b0aebe;
  --font-color-link: #57A6FF;
  --footer: #34314b;
  --footer-base: #2e2b45;
  --contrast: rgba(238, 244, 244, 0.8);
  --success: #4fcace;
  --danger: #FF8B8D;
  --grad-1: #a1ecff;
  --grad-2: #7dbcff;

  --size-5: 0.313rem;
  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.1125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-75: 4.688rem;
  --size-85: 5.313rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
}

html { scroll-behavior: smooth; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: var(--size-14);
  line-height: 1.6;
  letter-spacing: 0;
  background: #FFF;
  margin: 0;
  padding: 0;
}


*,
::after,
::before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a { text-decoration: none; }

h2 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--font-color-dark);
  margin: var(--size-10) 0%;
}

p { margin-bottom: var(--size-20); }

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: var(--blue-button);
  color: var(--white);
  font-weight: 200;
  padding: 0.75rem 1.5rem;
  text-align: center;
  border-radius: 1.5rem;
  border: none;
  z-index: -1;
}

.btn-nav {
  font-weight: 600;
}


@media (min-width: 768px) {
  .pricing-table,
  .testimonial-grid,
  .footer-bottom-wrapper { max-width: 720px; }
}

@media (min-width: 992px) {
  footer .container { max-width: 960px; }
}

@media (min-width: 1200px) {
  .container { max-width: 1140px; }
}
